[Unit]
Description=Bevattning Dash Process View
After=network.target bevattning-api.service
Wants=bevattning-api.service

[Service]
Type=simple
User=kamp
WorkingDirectory=/home/kamp/fotbollsplan-bevattning
Environment="PATH=/home/kamp/fotbollsplan-bevattning/.venv/bin"
EnvironmentFile=/home/kamp/fotbollsplan-bevattning/api_.env
ExecStart=/home/kamp/fotbollsplan-bevattning/.venv/bin/python3 /home/kamp/fotbollsplan-bevattning/dash_app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
